<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hi</title>
  </head>
  <body>
    <h1>My Food</h1>
    <form action="" method="post">
      <div>
        <span>Gender: </span>
        <input type="radio" id="gender-male" value="male" name="gender" required />
        <label for="gender-male">Male</label>

        <input type="radio" id="gender-male" value="female" name="gender" required />
        <label for="gender-female">Female</label>
      </div>

      <div>
        <label for="age-num">Enter Age: </label>
        <input type="number" id="age-num" name="age" required />
      </div>

      <div>
        <label for="height">Enter Height (inches): </label>
        <input type="height" id="height" name="height" required />
      </div>

      <div>
        <label for="weight">Enter Weight (pounds): </label>
        <input type="weight" id="weight" name="weight" required />
      </div>

      <input type="submit" />
    </form>
  </body>
</html>
